
/* ejercicio 2 */

.nav-menu{
    display: flex;
    justify-content: center;
    background-color: rgb(80, 58, 31);
    padding: 10px;
    list-style: none;
}

.nav-menu li{
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 10px;
    padding: 10px;
}

.nav-menu li a:hover{
    background: #555;
    border-radius: 5px;
}

@media(max-widht:600px){
    .nav-menu {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu li{
        margin-bottom: 10px;
    }
}