*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.search-container{
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(56, 55, 55, 0.281);
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: widht 0.4s ease-in-out;
    width: 60px;
    height: 40px;
    overflow: hidden;
}

.search-container .search-input{
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    opacity: 0;
    transition: width 0.4s ease-in-out, opacity 0.2s ease-in-out;
}

.search-container .search-btn{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px 5px 5px ;
    color: #555;
}

/* Cuando el input está vacio */
.search-container.active{
    width: 250px;
}

.search-container.active .search-input{
    width: 200px;
    opacity: 1;
}